@model PrivateChatVM

@{ 
    Layout = "Layout";
}

<div id="root"></div>

<script>
    var roomName = @Html.Raw(Json.Serialize(Model.ChatRoom.RoomName));
    const _roomName = @Html.Raw(Json.Serialize(Model.ChatRoom.RoomName));
    const _user = @(_signInManager.IsSignedIn(User) ? Html.Raw(Json.Serialize(User.Identity.Name)) : Html.Raw(Json.Serialize("Anonymous")));
    @*const _isPrivate = @(Model.ChatRoom.ChatType == ChatType.Private);*@
    const _displayName = @Html.Raw(Json.Serialize(Model.Friend.UserName));
    console.log(roomName);
</script>

@section Scripts {
    <script src="~/js/dist/displayChatRoom.bundle.js"></script>
}