@model PersonalPageVM

<div class="row">
        <h5 class="col-lg-6 col-md-12 col-sm-12">@User.Identity.Name's Message Board</h5>
        <h4 class="col-lg-6 col-md-12 col-sm-12">Logged as: @User.Identity.Name</h4>
</div>

<div id="messages">
    @foreach (var message in Model.Messages)
    {
        <div class="message">
            <header>@message.SendTime</header>
            <p>
                <span class="sender" style="@(message.Sender == User.Identity.Name ? "color: #e053b3;" : "")">@message.Sender: </span>
                <span class="text">@message.Text</span>
            </p>
        </div>
    }
</div>

<select id="users">
    <option value="AllUsers">All Users[Temporary]</option>
    <option value="@User.Identity.Name">@User.Identity.Name</option>
    @if (Model.Users.Count > 0)
    {
        foreach (var user in Model.Users)
        {
            <option value="@user.UserName">@user.UserName</option>
        }
    }
</select>

<div class="chat-input">
    <div class="input-group mb-3">
        <textarea id="message" name="message" class="form-control" placeholder="Your Message"></textarea>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="sendButton">Send Message</button>
        </div>
    </div>
</div>


<script>
    var userName = @Html.Raw(Json.Serialize(User.Identity.Name));
</script>

@section Scripts {
    <script src="~/js/personalPage.js"></script>
}
